<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/Content/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/materialize.min.js"></script>
</head>
<body ng-app="TourTerraApplication" ng-controller="TourTerraApplicationController"
      style="background-image: url('/Content/Pictures/mountains-8357180.jpg');
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             background-attachment: fixed;
             height: 100vh;
             margin: 0;">
 

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>

    <
</body>
</html>
