@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <span>We have over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>we invite you to immerse yourself in the beauty and diversity of our world.</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>
                                    Welcome to TourTerra, where every journey is a masterpiece waiting to unfold. As your trusted travel companion, we are committed to unlocking the wonders of the world and creating memories that last a lifetime.
                                    <br><br>Whether you're seeking adrenaline-fueled adventures or tranquil escapes, our diverse range of tours promises to inspire, captivate, and ignite your sense of wanderlust.

                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/Content/Pictures/mountains-6544522.jpg"  alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>Create memories that last a lifetime</span>
                    <h2>Your Gateway to Global Exploration <em>Crafting Dreams, One Adventure at a Time</em></h2>
                    <p>
                        Join us as we embark on a voyage of exploration, discovery, and transformation. Because in the end, it's not about the miles we travel or the destinations we reach—it's about the incredible journey that takes us there.
                        <br><br>Traveling isn't just about reaching a destination; it's about embracing the journey—the moments of anticipation, the rush of excitement, and the sense of wonder as you explore new horizons.
                    </p>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1234</div>
                            <div class="count-title">Destinations</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">6280</div>
                            <div class="count-title">Happy clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">115</div>
                            <div class="count-title">Cities</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">26</div>
                            <div class="count-title">Packages</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/accordions.js"></script>

<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0;
    function clearField(t) {
        if (!cleared[t.id]) {
            cleared[t.id] = 1;
            t.value = '';
            t.style.color = '#fff';
        }
    }</script>
