@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <span>feel free to send us a message now!</span>
            </div>
        </div>
    </div>
</div>

<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>For immediate assistance, please call us at the number below. Our dedicated support team is available all the time to answer your calls and provide personalized assistance.</p>
                    <a href="#">+1 333 4040 5566</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>You can also reach us via email provided below. Whether you have a question about an upcoming booking, need assistance with a reservation, or simply want to share feedback, our team will respond to your email promptly.</p>
                    <a href="#">contact@tourterra.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location</h4>
                    <p>España Blvd, Sampaloc, Manila, 1008 <br> Metro Manila </p>
                    <a href="#">View on Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Send us a <em>message</em></h2>
                    <span>We value your feedback and are committed to providing exceptional customer service. Don't hesitate to get in touch—we're here to make your travel experience as seamless and enjoyable as possible.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.8116052403598!2d120.98700447515235!3d14.609805485877665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9fe311ece61%3A0xfff13cf2f4387bc9!2sUniversity%20of%20Santo%20Tomas%20(UST)!5e0!3m2!1sen!2sph!4v1735247709903!5m2!1sen!2sph" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>  